page-home {
        .title{
            text-align: center;

            h3{
                font-size: 2.0em;
            }
            p{
                font-size: 1.30em;
            }
        }

        .title-text {
          margin-bottom: -20px !important;
        }

        .top-image {
          padding:0px !important;
          margin-bottom: -10px !important;
          width: 100px;
        }

        .tiles {
            position: relative;
            text-align: center;
        }
        ion-card {
            width: calc(100% - 7px) !important;
        }
        .menu-image {
            margin-bottom: -40px;
            width: 100%;
        }
        .menu-title {
            position: absolute;
            top: 77%;
            width: 100%;
            margin-left: -9px;
        }
        .menu-title p {
            font-size: 1.2em;
            font-weight: bold;
            text-transform: uppercase;
            text-align:center !important;
        }
        .toplogo {
            display: block;
            position: relative;
            margin-left:auto;
            margin-right:auto;
            top: -125px;
            padding-bottom: -50px;
        }

}
