page-private {
    ion-card {
        position: relative;
        }
    
    .card-subtitle {
        font-size: 1.0em;
        margin:5px 5px 5px 5px;
            h2{
            font-weight: bold;
    }
        }

    .top-image {
        padding: 0px !important;
    }

}
