$gird-padding-width: 0px !default;

page-information {
  ion-col {
    padding: 50px;
  }
  .card-ios{
    padding: 0px !important;
    width: calc(100% - 12px) !important;
  }
  .col {
    padding:0px !important;
  }
  ion-card img{
    padding-bottom: 5px !important;
  }
  ion-card p{
    padding: 2px !important;
  }
}
