page-art {

    ion-card {
        position: relative;
        text-align: justify;
        }
    
    .card-subtitle {
        font-size: 1.0em;
        margin:5px 5px 5px 5px;
        }

    .top-image {
        padding: 0px !important;
    }

}
